mat-card {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
mat-form-field {
  width: 80%;
  margin: auto;
}

button {
  margin-left: 20px;
}
.fizz {
  color: green;
}
.buzz {
  color: blue;
}
.fizzBuzz {
  color: black;
}
.number {
  color: red;
}
